<div class="min-h-screen bg-gray-100 text-gray-800 relative font-sans">
  <!-- Header -->
<header class="sticky top-0 z-30 bg-white shadow-sm ">
  <div class="flex justify-between items-center px-6 py-4">

    <h1 class="text-2xl font-bold text-yellow-500 tracking-tight">
      Shopie<span class="text-gray-800">Admin</span>
    </h1>

    <div class="flex items-center gap-4">
      <span class="text-sm text-gray-600 font-medium hidden sm:block">
        Admin User
      </span>

      <div
        class="w-9 h-9 rounded-full bg-yellow-500 text-white flex items-center justify-center font-semibold shadow-sm"
      >
        A
      </div>

      <button
        (click)="logout()"
        class="text-sm px-4 py-2 rounded bg-gray-800 text-white hover:bg-gray-700 transition"
      >
        Logout
      </button>
    </div>
  </div>
</header>


<div class="min-h-screen flex bg-gray-100">

  <!-- Sidebar -->
  <aside class="w-64 bg-white  shadow-sm min-h-screen sticky top-0 z-20">
    <nav class="flex flex-col py-6 space-y-2 px-4">
      <a
        routerLink="overview"
        routerLinkActive="text-yellow-500 font-semibold"
        [routerLinkActiveOptions]="{ exact: true }"
        class="px-4 py-2 rounded hover:bg-yellow-50 transition"
      >
        Dashboard
      </a>
      <a
        routerLink="products"
        routerLinkActive="text-yellow-500 font-semibold"
        class="px-4 py-2 rounded hover:bg-yellow-50 transition"
      >
        Products
      </a>
      <a
        routerLink="customers"
        routerLinkActive="text-yellow-500 font-semibold"
        class="px-4 py-2 rounded hover:bg-yellow-50 transition"
      >
        Customers
      </a>
    </nav>
  </aside>

  <main class="flex-1 px-6 py-10">
    <router-outlet></router-outlet>
  </main>
</div>
